<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>MainPage!</title>
	    <script src="https://unpkg.com/vue@next"></script>
	</head>
	<body>
		<div class="">
			<div id="story" :title="txt">
				<h2>
  					Some text here: {{ message }}
				</h2>
			</div>
		</div>
		<script type="text/javascript">
			const Say = {
				data() {
					return {
						message: 'Хааай!'
					}
				}
			}

			Vue.createApp(Say).mount('#story');
			
		</script>

		<style>

   body{
    background-color: gray; /* Цвет фона веб-страницы */
   } 
   h2 {
    background-color: RGB(24, 20, 1); /* Цвет фона под заголовком */
    color: lightgray;
   }
   p {
    background-color: maroon; /* Цвет фона под текстом параграфа */
    color: white; /* Цвет текста */
   }
   .story{
   		text-decoration-color: rgb(150, 199, 255);
   }

  </style>
	</body>
</html>